REACT_APP_SERVER_URL="http://localhost:3030"
REACT_APP_FRONTEND="http://localhost:3000"
REACT_APP_PROJECT_NAME="workflowApp"
REACT_APP_PROJECT_LABEL="Workflow App"
REACT_APP_PROJECT_ID="6a47314ebc51e32c9b13c134"
REACT_APP_LAST_UPDATED="7/2/2026"
REACT_APP_SECRETKEY="dceaa571c53626f8f5cc223449e4510b841320d7c44e5cb2638ef6ce6a7d3ea6"
REACT_APP_EMAIL_DOMAIN="example.com"
REACT_APP_USE_USER_INVITE_SIGNUP=true
REACT_APP_ENV=dev
REACT_APP_DATE="dd/MM/yyyy"
REACT_APP_TIME="hh:mm:ss"
REACT_APP_LANGUAGE="en_MY"
REACT_APP_CURRENCY="MYR"
REACT_APP_COUNTRY="MY"
